<div class="bg-white drop-shadow h-full rounded-lg flex flex-col justify-between">
  <%= link_to url, class: "p-4 block" do %>
    <%= yield %>
  <% end %>

  <%= link_to action_label, url, class: "border-t w-full text-center py-2 block font-medium text-sm" %>
</div>
