<%= render "components/card" do %>
  <%= link_to course_path(course.slug), class: "h-full" do %>
    <%= image_tag course.thumbnail_url, loading: "lazy", alt: "" %>
    <h2 class="font-bold text-md"><%= course.name %></h2>
    <span class="mt-4 px-2 py-2 rounded-lg bg-brand-500 text-center block p-2 bg-brand-500">Enroll for free now</span>
  <% end %>
<% end %>
