<%= render "components/card" do %>
  <%= link_to course_path(course.slug), class: "h-full" do %>
    <%= image_tag course.thumbnail_url, loading: "lazy", alt: "" %>
    <h2 class="font-bold text-md"><%= course.name %></h2>
  <% end %>
<% end %>
