@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-gray-100;
  @apply min-h-svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply inline-block rounded-md text-center;
}

.btn-base {
  @apply text-lg font-semibold py-2 px-4;
}

.btn-xl {
  @apply font-extrabold text-xl py-4 px-6;
}

.btn-xxl {
  @apply font-extrabold text-2xl py-4 px-8;
}

.btn-primary {
  @apply text-primary-900 bg-primary-500;
}

.btn-primary:hover {
  @apply bg-primary-600 text-white;
}

.btn-primary:disabled {
  @apply text-primary-600 bg-gray-200;
}

svg.loader {
  animation: upDown 1s ease-in-out infinite;
}

.loader-circle,
.loader-pointer,
.loader-line {
  fill: none;
  stroke-width: 5px;
  stroke: #333;
}

.loader-center {
  fill: #333;
}

.loader-pointer {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
}

.loader-line {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  -webkit-animation: spin 60s linear infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
  }
  to {
    -moz-transform: rotate(360deg);
    -moz-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

.navbar :global(li:not(:first-child)) {
  @apply mt-0;
}

.navbar :global(li:not(:last-child)) {
  @apply mr-5;
}