---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLZ1LP8tToRpshG-CUxb4KnpOmbLlSZoa-&key=AIzaSyBL9ZMt07_crW59ja2b-FHwpmJbUsgno38&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"zekp1FB4kTkkM-rWc1qIAAt-BWc/UUyKjrInB2VdqeGxn5Jk8mBwV4U"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"zekp1FB4kTkkM-rWc1qIAAt-BWc/UUyKjrInB2VdqeGxn5Jk8mBwV4U\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"zekp1FB4kTkkM-rWc1qIAAt-BWc/PLOTBQbrEKOLAgyNUatEmyZx_vY\"",
           "id": "PLZ1LP8tToRpshG-CUxb4KnpOmbLlSZoa-",
           "snippet": {
            "publishedAt": "2016-05-16T02:18:02.000Z",
            "channelId": "UCMFSI8kJ0GUUmejKr_7R25g",
            "title": "Test Ruby",
            "description": "Testing a ruby app",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kRFH0U5tbt8/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kRFH0U5tbt8/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kRFH0U5tbt8/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/kRFH0U5tbt8/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/kRFH0U5tbt8/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Duke X",
            "localized": {
             "title": "Test Ruby",
             "description": "Testing a ruby app"
            }
           }
          }
         ]
        }
  recorded_at: Mon, 16 May 2016 02:25:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyBL9ZMt07_crW59ja2b-FHwpmJbUsgno38&maxResults=50&part=snippet,status&playlistId=PLZ1LP8tToRpshG-CUxb4KnpOmbLlSZoa-
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"zekp1FB4kTkkM-rWc1qIAAt-BWc/BwfVnEaBqxWPSbPMNm_5OXGyd5Q"'
      Content-Type:
      - application/json; charset=UTF-8
      Altern[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=kRFH0U5tbt8&key=AIzaSyBL9ZMt07_crW59ja2b-FHwpmJbUsgno38&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"zekp1FB4kTkkM-rWc1qIAAt-BWc/KJjkCp3setGX8TVTQzxIshilqzg"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"zekp1FB4kTkkM-rWc1qIAAt-BWc/KJjkCp3setGX8TVTQzxIshilqzg\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"zekp1FB4kTkkM-rWc1qIAAt-BWc/qnEaef4CkD_2FBTiF8GVuFcv8dU\"",
           "id": "kRFH0U5tbt8",
           "contentDetails": {
            "duration": "PT18M20S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "true",
            "licensedContent": false,
            "projection": "rectangular"
           }
          }
         ]
        }
  recorded_at: Mon, 16 May 2016 02:25:10 GMT
recorded_with: VCR 3.0.1
