---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLSKbCQY095R4jp6PoFulCDLYIzzdbD1DI&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "dailyLimitExceededUnreg",
            "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
         }
        }
  recorded_at: Sun, 01 May 2016 16:16:29 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLSKbCQY095R4jp6PoFulCDLYIzzdbD1DI&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "dailyLimitExceededUnreg",
            "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
         }
        }
  recorded_at: Sun, 01 May 2016 16:17:09 GMT
recorded_with: VCR 3.0.1
