<div id="player"></div>

<%= link_to "Next", @course %>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player, done;

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      playerVars: { },
      videoId: '<%= @lesson.provider_id %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    done = false;
    event.target.playVideo();
  }

  function isActive(event) {
    return event && event.data && event.data == YT.PlayerState.PLAYING && !done;
  }

  function onPlayerStateChange(event) {
    if (isActive(event)) {
      done = true;
      track(event);
    }
  }

  function track(event) {
    if(isActive(event)) {
      console.log("send time", player.getCurrentTime());
    }
    setTimeout(function(){ track(event) }, 2000);
  }
</script>