<div class="container-fluid">
  <div id="courses">
    <% @courses.each do |course| %>
      <div class="course-wrapper col-sm-6 col-md-3">
        <div class="course">
          <%= image_tag course.thumbnail_url %>
          <h2><%= course.name %></h2>
          <p><%= course.description %></p>
          <%= link_to 'Enter', course, class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
