<h1 class="font-bold text-4xl">Courses <%= "in #{params[:language]}" if params[:language] %></h1>

<%= render 'components/course_list', courses: @courses %>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Courses",
        "item": "<%= courses_url %>"
      }]
    }
</script>
