body

  background: #D5DEE7

ul
  margin: 0
  padding: 0


// Header

header
  background: #FFF
  border: 1px solid #FFF
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
  h1
    color: #00F
    margin: 5px 50px
    font-size: 23px
    padding: 10px 0
    font-weight: 700


// content

#content
  margin: 25px

// course

div#courses
  .course-wrapper
    padding: 20px

  img
    width: 100%

  .course
    font-size: 13px
    background: #FFF
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2)
    border-radius: 4px
    overflow: hidden
    padding: 0 0 20px 0

  h2, p, a
    margin: 0 20px

  h2,p
    padding: 0 0 20px 0

  h2
    padding-top: 20px
    font-size: 14px
    line-height: 1.5
    font-weight: 700

  a
    display: block
    float: left
    text-transform: uppercase
    font-weight: 600
