body
  font-family: 'Open Sans', sans-serif
  background: #D5DEE7

ul
  margin: 0
  padding: 0


.container-fluid
  padding: 0

// Header

header
  background: #FFF
  border: 1px solid #FFF
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
  h1
    &, a
      color: $logo-color
    margin: 5px 50px
    font-size: 23px
    padding: 10px 0
    font-weight: 700


// content

#content
  margin: 0
