body.lessons
.lesson-container
  padding: 0

a.previous-lesson
  float: left
  border-radius: 55px 5px 5px 55px
  padding-left: 25px

a.next-lesson
  float: right
  border-radius: 5px 55px 55px 5px
  padding-right: 25px

.lesson-meta
  background: $logo-color
  overflow: hidden
  h2
    margin: 0
    padding: 21px 20px
    color: #FFF
    display: inline-block
    font-weight: 200
    font-size: 20px
    text-align: center
  a
    display: block
    margin-top: 15px
    margin-bottom: 15px
    background: darken($logo-color, 8%)
    border: none
    &:hover
      background: darken($logo-color, 5%)

#player
  margin: 0 auto
  display: block

#player.affix
  width: 20%
  height: 168.75px
  bottom: 30px
  right: 30px
//     margin-bottom: 10px
//     border-bottom: 2px solid #ECF0F0
//     padding-bottom: 15px
//   .description
//     padding: 30px 20px 20px
//   #player
//     margin: 0 auto
//     margin-top: 20px
