@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$logo-color: #344563;
$accent-color: #FFD628;
$sidebar-background: $logo-color;

@import "courses";
@import "lessons";
@import "sidebar";
@import "devise";

@import "general";
